.menu-color{
  color:#668ad8;
}
.HeaderNav{
  background-color:rgba(50, 50, 55, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height:15%;
  
  
  font-size:30px;

  .menu{
    cursor:pointer;


    &__list{
      width:20%;
      height:100%;
      text-align:center;
      
      &--top{
        position: absolute;
        top:20%;
        left:15%;
        @include BtnDesign();
      }

      &--profile{
        position: absolute;
        top:20%;
        left:27%;
        @include BtnDesign();
      }

      &--skill{
        position: absolute;
        top:20%;
        left:45%;
        @include BtnDesign();
      }

      &--portfolio{
        position: absolute;
        top:20%;
        left:60%;
        @include BtnDesign();
      }

      &--contact{
        position: absolute;
        top:20%;
        left:80%;
        @include BtnDesign();
      }
    }
  }
}
/*
.TopButton{
  position:fixed;
  bottom:2%;
  right:1%;
  font-size:30px;
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  cursor:pointer;
  z-index:2;
  display:none;

  @include sp(){
    display:block;
    };

  &:hover{
    background: #b3e1ff;
  }
}
.clearfix{
  @include clearfix();
}

.MenuButton,.active{
  position:fixed;
  top:2%;
  left:1%;
  font-size:30px;
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  cursor:pointer;
  z-index:2;

  @include sp(){
  display:none;
  };
  
  &:hover{
    background: #b3e1ff;
  }
}
*/
/*--------
ヘッダー
--------*/

.top {
  color:white;
  height: 100vh;
  background-color: rgba(25, 25, 120, 0.9);
  background-size:100%;

  @include sp(){
    height:50vh;
    background-size:100% 100%;
    };

    &-wrapper{
      display:flex;
      align-items:center;
      justify-content:center;
      height:100vh;

      &__name{
        font-size:60px;
        line-height:70vh;
        text-align: center;
        list-style: none;

    @include sp(){
      line-height:40vh;
      font-size:30px;
      };

    li{
      display:inline-block;
    }

    &--initial{
      font-size:100px;
      letter-spacing: -20px;
      @include sp(){
        font-size:50px;
        letter-spacing: -10px;
        };
    }
  }
}
}
/*----------
プロフィール
-----------*/

.profile{
  height: 110vh;
  width:100%;
  background-color: #ffffff;

  
  &__heading{
    display:flex;
    align-items: center;
    justify-content: center;
    text-shadow:3px 3px 0px gray;
    height:30vh;

    &--title{
      font-size:100px;
    }
  }

  &-wrapper{
    display:flex;
    width:100%;
    height:80vh;

    &__inner{
      width:50%;
      height:80vh;
      display:flex;
      align-items: center;
      justify-content: center;

    &--img{
       width:50%;
       border-radius:50%;
    }
  }
    
    &__introduction{
     display:flex;
     align-items:center;
     justify-content: center;
     flex-direction: column;
     width:50%;

     @include sp(){
       font-size:10px;
       top:50%;
       left:0;
       width:100%;
     };

     @include pc(){
       font-size:25px;
       top:30%;
       left:50%;
       width:80vh;
     };

     .greeting{
       font-size:20px;
       width:100%;
     }
    
}
}

.paragraph{
  height:50px;
}
}

/*--------
スキル
---------*/

.skill{
  height:150vh;
  width:100%;
  background-color:rgba(196, 196, 201, 0.9);
  
  &__heading{
    width:100%;
    height:30vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-shadow:3px 3px 0px gray;

    &--text{
      font-size:100px;
    }
  }

  &-wrapper{
    width:100%;
    height:120vh;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    &__item{
      width:30%;
      height:50vh;
      background-color:blue;
      box-shadow: 0 0 20px gray;
      background-color:#e0e0e0;

      &--title{
        height:10vh;
        display:flex;
        align-items: center;
        font-size:30px;
        font-weight:bold;
      }

      &--rate,&--rate2,&--rate3,&--rate4,&--rate5{
        position:relative;
        display:inline-block;
        height:10vh;
        font-size:30px;

        &:before,:after{
          content:"★★★★★";
          position:absolute;
          top:0;
          left:0;
        }

        &:before{
          color:#ccc;
        }

        &:after{
          color:#FFA500;
          overflow:hidden;
        }
      }

      &--rate2{
        &:after{
          width:2em;
          @include rate();
        }
      }

      &--rate3{
        &:after{
          width:3em;
          @include rate();
        }
      }

      &--rate4{
        &:after{
          width:4em;
          @include rate();
        }
      }

      &--rate5{
        &:after{
          width:5em;
          @include rate();
        }
      }

      &--text{
        width:100%;
        height:30vh;
        font-size:20px;
      }
    }
  }
}

/*--------
成果物
---------*/

.portfolio {
  height: 360vh;
  background-color:white;

  &__heading{
    text-shadow:3px 3px 0px gray;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:30vh;

    &--title{
      font-size:100px;
    }
  }

  &-wrapper{

    display:flex;
    width:100%;
    height:100vh;
    padding-bottom:10vh;

    &__img{
      width:60%;
      height:100vh;
      box-shadow: 0 0 20px gray;
    }

    &__item{
      width:40%;
      height:100vh;
      box-shadow: 0 0 20px gray;

      &--title{
        height:20%;
        font-size:20px;
        @include item-center();
        font-weight: bold;
      }

      &--text{
        height:20%;
        @include item-center();
      }
      
      &--url{
        height:20%;
        @include item-center();
      }
  }
}

}

/*------
お問い合わせ先
-------*/

.contact{
  
  height: 80vh;
  background-color:rgba(196, 196, 201, 0.9);
  
  
  &__heading{

    @include item-center();
    text-shadow:3px 3px 0px gray;
    width:100%;
    height:30vh;

    &--title{
      font-size:100px;
    }

    @include sp(){
      font-size:80px;
    }
  }
  &__comment{
    @include item-center();
    width:100%;
    height:10vh;
  }

&-wrapper{
  height:30vh;
  width:100%;
  @include item-center();

  &__mail-font{
    @include item-center();
  }

}
&__mail-url{
    width: 100%;
    height:10vh;
    text-align: center;
    display: inline-block;
}
}
